/*Selectores de ID */

#titulo{
	color: red;
}

#logo{
	/*margin-top: 200px;*/
}

/*Selectores de clase*/

.rojo{
	color: red;
}

.rojo{
	color: blue;
}

.logo{
	margin-top: 200px;
}

/*selectores con clase y id*/

#titulo.titulo{
	font-size: 60px;
}

.titulo{
	font-size: 30px;
}

/* selectores con 2 clases*/
.azul.tituloCurso{
	color: blue;
}

.azul{
	color: red;
}

.tituloCurso{
	color: red;
}

/* selectores con elementos html*/

p{
	color: brown;
}

h3{
	color: green;
}

h2{
	color: orange;
}

img{
	width: 300px;
}

/* selectores con html y id*/

img#logo{
	width: 600px;
}

h2#titulo{
	color: orange;
}

/* selectores con html y clases !!!!ESTA SINTAXIS!!!!! */

section.seccion{
	background: gray;
}

div.noticia{
	background: white;
}

/* selector universal */
/*
*{
	color: black!important;
	font-size: 20px!important;
}
*/

#listado-cursos *{
	font-size: 30px;
}

.noticia *{
	font-size: 20px;
}

/* selector grupos */

h2, h3, p, a{
	text-transform: uppercase;
}

h2, h3{
	text-align: center;
}

/* selector descendiente */

nav#navegacion{
	background-color: orange;
}

nav#navegacion ul{
	list-style: none;
}

nav#navegacion ul li{
	display: inline;
}

nav#navegacion ul li a {
	color: white;
}

/* selector con hijos */
section#cursos > ul{
	border: 1px	solid black;
}

ul#listado-cursos > li{
	color: red;
}

ul#listado-cursos li ul >li{
	color: green;
}

/* selector con elementos adyacentes */
ul#listado-cursos + p{
	background-color: red!important;
	color: white;
}

/* selectores con enlaces */
a[href*="facebook.com"]{
	background-color: yellow;
}

a[href*="google.com"]{
	background-color: purple;
}

/* attribute selectors */
img[id="logo"]{
	margin-top: 0;
}

[class="seccion"]{
	background-color: blue!important;
}

/* pseudoclasses selectors */
div.menu nav ul li a:focus,
div.menu nav ul li a:visited,
div.menu nav ul li a:active {
	color: black;
}

div.menu nav ul li a:first-child a{
	text-decoration: none;
}

div.menu nav ul li a:hover{
	background-color: orange;
}

h2:hover{
	color: orange!important;
}

/* pseudoclasses and nth-child selectors */
div.menu nav ul li:nth-child(1){
	background-color: red;
}

div.menu nav ul li:nth-child(2){
	background-color: yellow;
}

div.menu nav ul li:nth-child(3){
	background-color: purple;
}

div.menu nav ul li:nth-child(4){
	background-color: blue;
}

table tbody tr:nth-child(odd){
	background-color: orange;
}
table tbody tr:nth-child(even){
	background-color: purple;
}